# **This notebook is for doing imputations on the DataFrames null values.**

#### We are going to USE ML to fill the dataframes missing NAN values. We are beggining with The values that have the least NAN values and build up the prediction strength from ground up.

In [239]:
import pandas as pd
import numpy as np

### Read in the repaird taxi trip csv:

In [240]:
df = pd.read_csv("../../data/taxi_trip_pricing_numeric_repaired.csv")

In [241]:
df.isna().sum()

Trip_Distance_km          6
Time_of_Day              50
Day_of_Week              50
Passenger_Count          50
Traffic_Conditions       50
Weather                  50
Base_Fare                12
Per_Km_Rate              11
Per_Minute_Rate           5
Trip_Duration_Minutes    15
Trip_Price               17
dtype: int64

In [242]:
cat_cols = ["Time_of_Day", "Day_of_Week", "Traffic_Conditions", "Weather"]
df[cat_cols] = df[cat_cols].fillna("Unknown")

In [243]:
df

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,Unknown,3.48,0.51,0.15,116.81,36.4698
4,8.64,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
...,...,...,...,...,...,...,...,...,...,...,...
995,5.49,Afternoon,Weekend,4.0,Medium,Clear,2.39,0.62,0.49,58.39,34.4049
996,45.95,Night,Weekday,4.0,Medium,Clear,3.12,0.61,0.50,61.96,62.1295
997,7.70,Morning,Weekday,3.0,Low,Rain,2.08,1.78,0.32,54.18,33.1236
998,47.56,Morning,Weekday,1.0,Low,Clear,2.67,0.82,0.17,114.94,61.2090
999,22.85,Morning,Weekend,3.0,Medium,Clear,4.34,1.50,0.23,29.69,45.4437

In [244]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       994 non-null    float64
 1   Time_of_Day            1000 non-null   object
 2   Day_of_Week            1000 non-null   object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     1000 non-null   object
 5   Weather                1000 non-null   object
 6   Base_Fare              988 non-null    float64
 7   Per_Km_Rate            989 non-null    float64
 8   Per_Minute_Rate        995 non-null    float64
 9   Trip_Duration_Minutes  985 non-null    float64
 10  Trip_Price             983 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

### Perform one hot encoding on categorical columns

In [245]:
df = pd.get_dummies(
    df,
    columns=["Time_of_Day", "Day_of_Week", "Traffic_Conditions", "Weather"],
    drop_first=True,
)

In [246]:
df

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night,Time_of_Day_Unknown,Day_of_Week_Weekday,Day_of_Week_Weekend,Traffic_Conditions_Low,Traffic_Conditions_Medium,Traffic_Conditions_Unknown,Weather_Rain,Weather_Snow,Weather_Unknown
0,19.35,3.0,3.56,0.80,0.32,53.82,36.2624,False,True,False,False,True,False,True,False,False,False,False,False
1,47.59,1.0,NaN,0.62,0.43,40.57,NaN,False,False,False,False,True,False,False,False,False,False,False,False
2,36.87,1.0,2.70,1.21,0.15,37.27,52.9032,True,False,False,False,False,True,False,False,False,False,False,False
3,30.33,4.0,3.48,0.51,0.15,116.81,36.4698,True,False,False,False,True,False,True,False,False,False,False,True
4,8.64,3.0,2.93,0.63,0.32,22.64,15.6180,True,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,5.49,4.0,2.39,0.62,0.49,58.39,34.4049,False,False,False,False,False,True,False,True,False,False,False,False
996,45.95,4.0,3.12,0.61,0.50,61.96,62.1295,False,False,True,False,True,False,False,True,False,False,False,False
997,7.70,3.0,2.08,1.78,0.32,54.18,33.1236,False,True,False,False,True,False,True,False,False,True,False,False
998,47.56,1.0,2.67,0.82,0.17,114.94,61.2090,False,True,False,False,True,False,True,False,False,False,False,False
999,22.85,3.0,4.34,1.50,0.23,29.69,45.4437,False,True,False,False,False,True,False,True,False,False,False,False

In [247]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trip_Distance_km            994 non-null    float64
 1   Passenger_Count             950 non-null    float64
 2   Base_Fare                   988 non-null    float64
 3   Per_Km_Rate                 989 non-null    float64
 4   Per_Minute_Rate             995 non-null    float64
 5   Trip_Duration_Minutes       985 non-null    float64
 6   Trip_Price                  983 non-null    float64
 7   Time_of_Day_Evening         1000 non-null   bool
 8   Time_of_Day_Morning         1000 non-null   bool
 9   Time_of_Day_Night           1000 non-null   bool
 10  Time_of_Day_Unknown         1000 non-null   bool
 11  Day_of_Week_Weekday         1000 non-null   bool
 12  Day_of_Week_Weekend         1000 non-null   bool
 13  Traffic_Conditions_Low      1000 non-null   bool
 14  Traffic_Conditions_Medium   1000 non-null   bool
 15  Traffic_Conditions_Unknown  1000 non-null   bool
 16  Weather_Rain                1000 non-null   bool
 17  Weather_Snow                1000 non-null   bool
 18  Weather_Unknown             1000 non-null   bool
dtypes: bool(12), float64(7)
memory usage: 66.5 KB

#### Getting a list with all columns that conatin nan values

In [248]:
# Store the column names that contain NaN values
columns_with_nan = (
    df.isna().sum().sort_values(ascending=True).loc[lambda x: x > 0].index.tolist()
)

columns_with_nan.pop(-1)  # REMOVE PASSENGER COUNT THIS COL NEEDS CLASSIFICATION
display(columns_with_nan)

['Per_Minute_Rate',
 'Trip_Distance_km',
 'Per_Km_Rate',
 'Base_Fare',
 'Trip_Duration_Minutes',
 'Trip_Price']

#### MANAGE all columns with a function. The function will test the best model to predict its nan values.

In [249]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.ensemble import RandomForestRegressor


# We will move everythin to a function instead:


def remove_nan_values_and_evaluate_model(column_name: str, show_output: bool = True):
    """
    This function takes a column name as input and removes the rows with NaN values in that column from the dataframe.
    It returns two dataframes: one with the rows with NaN values and one without.
    """
    nan_rows = df[
        df[column_name].isna()
    ]  # We will use these rows later to predict the missing values
    df_ml = df[df[column_name].notna()]

    # Remove nan values from df_ml
    df_ml = df_ml.dropna()

    # Train test split
    X, y = df_ml.drop(columns=[column_name]), df_ml[column_name]
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.2, random_state=42
    )

    scaler = MinMaxScaler()

    # Train and evaluate X,y on Linnear Regression
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)

    ln_model = LinearRegression()
    ln_model.fit(X_train_scaled, y_train)
    y_pred = ln_model.predict(X_test_scaled)

    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    if show_output:
        print(f"Linear Regression - Mean Squared Error: {mse:.2f}")
        print(f"Linear Regression - Root Mean Squared Error: {rmse:.2f}")
        print(f"Linear Regression - R^2 Score: {r2:.2f}")
        print(f"Linear Regression - Mean Absolute Error: {mae:.2f}")
        print("--------------------------------------------------")
    # Train and evaluate X,y on Random Forest Regressor
    rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
    rf_model.fit(X_train, y_train)
    y_pred_rf = rf_model.predict(X_test)

    mse_rf = mean_squared_error(y_test, y_pred_rf)
    rmse_rf = np.sqrt(mse_rf)
    r2_rf = r2_score(y_test, y_pred_rf)
    mae_rf = mean_absolute_error(y_test, y_pred_rf)
    if show_output:
        print(f"Random Forest - Mean Squared Error: {mse_rf:.2f}")
        print(f"Random Forest - Root Mean Squared Error: {rmse_rf:.2f}")
        print(f"Random Forest - R^2 Score: {r2_rf:.2f}")
        print(f"Random Forest - Mean Absolute Error: {mae_rf:.2f}")
        print("--------------------------------------------------")
    # Choose the best model based on R^2 score
    model_winner = None
    if r2_rf > r2:
        model_winner = rf_model
        print("Random Forest Regressor is the best model.")
    else:
        model_winner = ln_model
        print("Linear Regression is the best model.")

    return nan_rows, df_ml, model_winner

### Loop through all cols in ascending order from least nan values to greatest for best imputations.

In [ ]:
# Now we can loop through the columns with NaN values and evaluate the models
for column in columns_with_nan:
    print(f"Evaluating models after removing NaN values in column: {column}")
    nan_rows, df_ml, best_model = remove_nan_values_and_evaluate_model(
        column, show_output=True
    )  # IF you want to see the output from the model evaluation, set show_output=True

    X = nan_rows.drop(columns=[column])
    impute_values = df_ml.median()
    X = X.fillna(impute_values)
    predicted_values = best_model.predict(X)
    print(f"Predicted values for missing {column}: {predicted_values}")
    # Now we can fill the NaN values in the original dataframe with the predicted values
    nan_rows[column] = predicted_values
    df.loc[nan_rows.index, column] = nan_rows[column]
    print("\n\n\n\n")

# Check if there are still any NaN values in the dataframe
df.isna().sum()

Evaluating models after removing NaN values in column: Per_Minute_Rate
Linear Regression - Mean Squared Error: 0.01
Linear Regression - Root Mean Squared Error: 0.10
Linear Regression - R^2 Score: 0.22
Linear Regression - Mean Absolute Error: 0.08
--------------------------------------------------
Random Forest - Mean Squared Error: 0.01
Random Forest - Root Mean Squared Error: 0.09
Random Forest - R^2 Score: 0.45
Random Forest - Mean Absolute Error: 0.07
--------------------------------------------------
Random Forest Regressor is the best model.
Predicted values for missing Per_Minute_Rate: [0.47301913 0.3939     0.3423     0.2269     0.3155    ]





Evaluating models after removing NaN values in column: Trip_Distance_km
Linear Regression - Mean Squared Error: 51.28
Linear Regression - Root Mean Squared Error: 7.16
Linear Regression - R^2 Score: 0.87
Linear Regression - Mean Absolute Error: 4.68
--------------------------------------------------

C:\Users\Ludvi\AppData\Local\Temp\ipykernel_25572\602891038.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nan_rows[column] = predicted_values

Random Forest - Mean Squared Error: 33.60
Random Forest - Root Mean Squared Error: 5.80
Random Forest - R^2 Score: 0.92
Random Forest - Mean Absolute Error: 3.96
--------------------------------------------------
Random Forest Regressor is the best model.
Predicted values for missing Trip_Distance_km: [42.9711  6.2599 15.9426  6.0178 42.9649 28.9621]





Evaluating models after removing NaN values in column: Per_Km_Rate
Linear Regression - Mean Squared Error: 0.12
Linear Regression - Root Mean Squared Error: 0.35
Linear Regression - R^2 Score: 0.32
Linear Regression - Mean Absolute Error: 0.26
--------------------------------------------------

C:\Users\Ludvi\AppData\Local\Temp\ipykernel_25572\602891038.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nan_rows[column] = predicted_values

Random Forest - Mean Squared Error: 0.08
Random Forest - Root Mean Squared Error: 0.28
Random Forest - R^2 Score: 0.56
Random Forest - Mean Absolute Error: 0.21
--------------------------------------------------
Random Forest Regressor is the best model.
Predicted values for missing Per_Km_Rate: [0.666      1.6958     0.9679     1.38444617 0.8855     1.3567
 1.126      0.6836     1.6658     1.1215     1.769     ]





Evaluating models after removing NaN values in column: Base_Fare
Linear Regression - Mean Squared Error: 0.78
Linear Regression - Root Mean Squared Error: 0.88
Linear Regression - R^2 Score: -0.04
Linear Regression - Mean Absolute Error: 0.77
--------------------------------------------------

C:\Users\Ludvi\AppData\Local\Temp\ipykernel_25572\602891038.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nan_rows[column] = predicted_values

Random Forest - Mean Squared Error: 0.79
Random Forest - Root Mean Squared Error: 0.89
Random Forest - R^2 Score: -0.05
Random Forest - Mean Absolute Error: 0.76
--------------------------------------------------
Linear Regression is the best model.
Predicted values for missing Base_Fare: [16.95492919 39.61337009 20.38587659  5.89609536 24.94699584 21.62159399
 19.73265375 10.58662291  7.07849194 18.56295596 25.0552932  18.40783179]





Evaluating models after removing NaN values in column: Trip_Duration_Minutes
Linear Regression - Mean Squared Error: 585.35
Linear Regression - Root Mean Squared Error: 24.19
Linear Regression - R^2 Score: 0.40
Linear Regression - Mean Absolute Error: 19.81
--------------------------------------------------

c:\NBIHandelsAkademin\Python_Course\taxi-prediction-fullstack-ludvig-opa24\.venv\Lib\site-packages\sklearn\utils\validation.py:2742: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(
C:\Users\Ludvi\AppData\Local\Temp\ipykernel_25572\602891038.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nan_rows[column] = predicted_values

Random Forest - Mean Squared Error: 316.25
Random Forest - Root Mean Squared Error: 17.78
Random Forest - R^2 Score: 0.68
Random Forest - Mean Absolute Error: 13.63
--------------------------------------------------
Random Forest Regressor is the best model.
Predicted values for missing Trip_Duration_Minutes: [ 21.9473  64.3841  87.9696 100.5155  62.6965  63.1965  52.0711  64.5272
  94.5755  65.7767  42.9573  63.0802  99.887   55.5198  95.9251]





Evaluating models after removing NaN values in column: Trip_Price
Linear Regression - Mean Squared Error: 192.88
Linear Regression - Root Mean Squared Error: 13.89
Linear Regression - R^2 Score: 0.80
Linear Regression - Mean Absolute Error: 9.14
--------------------------------------------------

C:\Users\Ludvi\AppData\Local\Temp\ipykernel_25572\602891038.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nan_rows[column] = predicted_values

Random Forest - Mean Squared Error: 38.51
Random Forest - Root Mean Squared Error: 6.21
Random Forest - R^2 Score: 0.96
Random Forest - Mean Absolute Error: 3.86
--------------------------------------------------
Random Forest Regressor is the best model.
Predicted values for missing Trip_Price: [45.693681 69.004175 27.408919 50.577872 37.401235 70.329754 50.326869
 41.069232 52.357411 52.730526 49.271683 66.33585  22.455117 44.488865
 33.753929 34.943343 49.905501]

C:\Users\Ludvi\AppData\Local\Temp\ipykernel_25572\602891038.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nan_rows[column] = predicted_values

Trip_Distance_km               0
Passenger_Count               50
Base_Fare                      0
Per_Km_Rate                    0
Per_Minute_Rate                0
Trip_Duration_Minutes          0
Trip_Price                     0
Time_of_Day_Evening            0
Time_of_Day_Morning            0
Time_of_Day_Night              0
Time_of_Day_Unknown            0
Day_of_Week_Weekday            0
Day_of_Week_Weekend            0
Traffic_Conditions_Low         0
Traffic_Conditions_Medium      0
Traffic_Conditions_Unknown     0
Weather_Rain                   0
Weather_Snow                   0
Weather_Unknown                0
dtype: int64

#### BASE_FARE is Catastrophic BAD.

### Add random values to passenger count to keep the rows for ML since Passengercount cant be predicted.

In [251]:
df["Passenger_Count"].value_counts()

Passenger_Count
3.0    251
2.0    241
1.0    238
4.0    220
Name: count, dtype: int64

In [252]:
rnd_values = []

for i in range(50):
    if i < 13:
        rnd_values.append(1.0)
    elif i < 25:
        rnd_values.append(2.0)
    elif i < 38:
        rnd_values.append(3.0)
    else:
        rnd_values.append(4.0)

passenger_count_nan = df[df["Passenger_Count"].isna()]

passenger_count_nan

df.loc[passenger_count_nan.index, "Passenger_Count"] = rnd_values

In [253]:
df["Passenger_Count"].value_counts()

Passenger_Count
3.0    264
2.0    253
1.0    251
4.0    232
Name: count, dtype: int64

In [254]:
df.to_csv("../../data/taxi_trip_pricing_imputed.csv", index=False)