### 1 Import library and load data

In [149]:
import pandas as pd
import seaborn as sns

df = pd.read_csv("../../data/taxi_trip_pricing_imputed.csv")

display(df.head())
df.info()

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night,Time_of_Day_Unknown,Day_of_Week_Weekday,Day_of_Week_Weekend,Traffic_Conditions_Low,Traffic_Conditions_Medium,Traffic_Conditions_Unknown,Weather_Rain,Weather_Snow,Weather_Unknown
0,19.35,3.0,3.560000,0.80,0.32,53.82,36.262400,False,True,False,False,True,False,True,False,False,False,False,False
1,47.59,1.0,16.954929,0.62,0.43,40.57,45.693681,False,False,False,False,True,False,False,False,False,False,False,False
2,36.87,1.0,2.700000,1.21,0.15,37.27,52.903200,True,False,False,False,False,True,False,False,False,False,False,False
3,30.33,4.0,3.480000,0.51,0.15,116.81,36.469800,True,False,False,False,True,False,True,False,False,False,False,True
4,8.64,3.0,2.930000,0.63,0.32,22.64,15.618000,True,False,False,False,True,False,False,False,False,False,False,False

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trip_Distance_km            1000 non-null   float64
 1   Passenger_Count             1000 non-null   float64
 2   Base_Fare                   1000 non-null   float64
 3   Per_Km_Rate                 1000 non-null   float64
 4   Per_Minute_Rate             1000 non-null   float64
 5   Trip_Duration_Minutes       1000 non-null   float64
 6   Trip_Price                  1000 non-null   float64
 7   Time_of_Day_Evening         1000 non-null   bool
 8   Time_of_Day_Morning         1000 non-null   bool
 9   Time_of_Day_Night           1000 non-null   bool
 10  Time_of_Day_Unknown         1000 non-null   bool
 11  Day_of_Week_Weekday         1000 non-null   bool
 12  Day_of_Week_Weekend         1000 non-null   bool
 13  Traffic_Conditions_Low      1000 non-null   bool
 14  Traffic_Conditions_Medium   1000 non-null   bool
 15  Traffic_Conditions_Unknown  1000 non-null   bool
 16  Weather_Rain                1000 non-null   bool
 17  Weather_Snow                1000 non-null   bool
 18  Weather_Unknown             1000 non-null   bool
dtypes: bool(12), float64(7)
memory usage: 66.5 KB

In [150]:
df.describe()

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,26.991948,2.477000,3.685663,1.231410,0.294765,62.150649,56.630227
std,19.650590,1.103036,2.127699,0.429346,0.123743,31.946301,39.776855
min,1.230000,1.000000,2.010000,0.500000,0.100000,5.010000,6.126900
25%,12.662500,1.000000,2.730000,0.860000,0.190000,36.010000,33.821632
50%,25.830000,2.000000,3.530000,1.220000,0.290000,62.120000,50.096200
75%,38.330000,3.000000,4.290000,1.610000,0.390000,88.480000,69.052125
max,146.067047,4.000000,39.613370,2.000000,1.732901,119.840000,332.043689

### 1.5 Feeature engineering

### 2 Divide the data in features and target. And into Train and tests.

In [151]:
from sklearn.model_selection import train_test_split

X,y = df.drop(columns=[
    "Trip_Price", "Base_Fare", "Per_Km_Rate", "Traffic_Conditions_Low", "Traffic_Conditions_Medium", "Per_Minute_Rate", "Traffic_Conditions_Unknown"
   ]), df["Trip_Price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

display(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(800, 12)

(200, 12)

(800,)

(200,)

### GO for Per_Km_Rate

In [152]:
X_km_rate = df.drop(columns=['Per_Km_Rate', 'Trip_Price', 'Base_Fare', 'Per_Minute_Rate'])
y_km_rate = df['Per_Km_Rate']

X_km_train, X_km_test, y_km_train, y_km_test = train_test_split(X_km_rate, y_km_rate)

### Since if we decide to keep Trip_Duration_Minutes we want to make the X_train tripduration noisy so it resembles a prediktion

In [153]:
import numpy as np

# Create a copy to awoid Copy warning
X_train_noisy = X_train.copy()

# use numpy to randomize 0.9 or 1.1 values in the shape length of X_train 2d-array
noise_factor = np.random.uniform(0.9, 1.1, size=len(X_train_noisy))

# Now multiply tripduartion with vectorized operation so we get som noice since the user will probably have a +-10% variance in time estimation.
X_train_noisy['Trip_Duration_Minutes'] = X_train_noisy['Trip_Duration_Minutes'] * noise_factor

In [154]:
display(X.head())
display(y)

,Trip_Distance_km,Passenger_Count,Trip_Duration_Minutes,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night,Time_of_Day_Unknown,Day_of_Week_Weekday,Day_of_Week_Weekend,Weather_Rain,Weather_Snow,Weather_Unknown
0,19.35,3.0,53.82,False,True,False,False,True,False,False,False,False
1,47.59,1.0,40.57,False,False,False,False,True,False,False,False,False
2,36.87,1.0,37.27,True,False,False,False,False,True,False,False,False
3,30.33,4.0,116.81,True,False,False,False,True,False,False,False,True
4,8.64,3.0,22.64,True,False,False,False,True,False,False,False,False

0      36.262400
1      45.693681
2      52.903200
3      36.469800
4      15.618000
         ...
995    34.404900
996    62.129500
997    33.123600
998    61.209000
999    45.443700
Name: Trip_Price, Length: 1000, dtype: float64

### 3 Scale features and train a Linnear Regression model

In [155]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score


scalar = MinMaxScaler()

X_train_scaled = scalar.fit_transform(X=X_train)
X_test_scaled = scalar.transform(X=X_test)

linnear_model = LinearRegression()
linnear_model.fit(X=X_train_scaled, y=y_train)

linnear_y_pred = linnear_model.predict(X=X_test_scaled)


mae_lr = mean_absolute_error(y_true=y_test, y_pred=linnear_y_pred)
mse_lr = mean_squared_error(y_true=y_test, y_pred=linnear_y_pred)
r2_lr = r2_score(y_true=y_test, y_pred=linnear_y_pred)

print("Linnear regression performance:")
print(f"Mean Absolute Error (MAE): {mae_lr:.2f}")
print(f"Mean Squared Error (MSE): {mse_lr:.2f}")
print(f"R-squared (R2): {r2_lr:.2f}")

Linnear regression performance:
Mean Absolute Error (MAE): 13.85
Mean Squared Error (MSE): 312.89
R-squared (R2): 0.63

### 4- Run random CV for a XGBoost model

In [156]:
import xgboost as xgb
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, root_mean_squared_error

# Define a search map for RandomizedSearchCV
param_grid_xgb = {
    'n_estimators': [100, 500, 1000],
    'learning_rate': [0.01, 0.05, 0.1],
    'max_depth': [3, 5, 7, 10, 12, 15],
    'subsample': [0.7, 1.0],
    'colsample_bytree': [0.7, 1.0]
}

# Kreate a Xgboost  regressor without hyperparmeters
xgb_base = xgb.XGBRegressor(random_state=42)

# Create a randomize search class, this class takes the Xgboost instance and fills its hyperparameters and decide how to do all the twisting until it finds the best value
xgb_random_search = RandomizedSearchCV(
    estimator=xgb_base,
    param_distributions=param_grid_xgb,
    n_iter=50,
    cv=3,
    verbose=2,
    random_state=42,
    n_jobs=-1 # Run all computers processors
)

# This starts the process, now with xgboost and all the parameters, this will run a loop working its way to find the best params, running diffrent params over and over again
xgb_random_search.fit(X_km_train, y_km_train)

# the Xgb_random_search instance contains a lot of information now. We can access an attribute that only contain the best estimator. this is a whole XGBregressor instance inside this attribute.
best_xgb_model = xgb_random_search.best_estimator_

# Use this model to predict x_test
y_pred_best_xgb = best_xgb_model.predict(X_km_test)

# Metrics
mae_best_xgb = mean_absolute_error(y_km_test, y_pred_best_xgb)
mse_best_xgb = mean_squared_error(y_km_test, y_pred_best_xgb)
rmse_best_xgb = root_mean_squared_error(y_km_test, y_pred_best_xgb)
r2_best_xgb = r2_score(y_km_test, y_pred_best_xgb)

# Print the best params and metrics
print("\nBästa hyperparametrar som hittades för XGBoost:")
print(xgb_random_search.best_params_)
print("\n--------------------------------------------------")
print("Optimerad XGBoost Performance:")
print(f"Mean Absolute Error (MAE): {mae_best_xgb:.2f}")
print(f"Mean Squared Error (MSE): {mse_best_xgb:.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse_best_xgb:.2f}")
print(f"R-squared (R2): {r2_best_xgb:.2f}")

Fitting 3 folds for each of 50 candidates, totalling 150 fits

Bästa hyperparametrar som hittades för XGBoost:
{'subsample': 0.7, 'n_estimators': 100, 'max_depth': 3, 'learning_rate': 0.01, 'colsample_bytree': 1.0}

--------------------------------------------------
Optimerad XGBoost Performance:
Mean Absolute Error (MAE): 0.37
Mean Squared Error (MSE): 0.19
Root Mean Squared Error (RMSE): 0.43
R-squared (R2): -0.01

In [157]:
# import xgboost as xgb
# from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

# # Hämta de bästa parametrarna från din tidigare XGBoost-sökning
# best_params_from_previous_run = xgb_random_search.best_params_

# # Skapa en ny XGBoost-modell med dessa optimala inställningar
# xgb_km_rate_model = xgb.XGBRegressor(**best_params_from_previous_run, random_state=42)

# # Träna den nya modellen på din nya data (X_km_train, y_km_train)
# xgb_km_rate_model.fit(X_km_train, y_km_train)

# # Gör prediktioner på den nya testdatan
# y_pred_km_rate = xgb_km_rate_model.predict(X_km_test)

# # Utvärdera prestandan
# r2_km_rate = r2_score(y_km_test, y_pred_km_rate)
# mae_km_rate = mean_absolute_error(y_km_test, y_pred_km_rate)
# mse_km_rate = mean_squared_error(y_km_test, y_pred_km_rate)

# print("XGBoost Performance för att förutsäga Per_Km_Rate:")
# print(f"R-squared (R2): {r2_km_rate:.2f}")
# print(f"Mean Absolute Error (MAE): {mae_km_rate:.2f}")
# print(f"Mean Squared Error (MSE): {mse_km_rate:.2f}")

### Save this broad Unprecise Model to a joblib file as 'broad_responsible_model.joblib'

In [158]:
#import joblib
# Save Random forest model
#joblib.dump(rf_model, "../models/broad_responsible_rf_model.joblib")

### Know we will build a 'narrow_precise_model.joblib' that removes the outlieers

In [159]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Trip_Distance_km,1000.0,26.991948,19.650590,1.2300,12.662500,25.8300,38.330000,146.067047
Passenger_Count,1000.0,2.477000,1.103036,1.0000,1.000000,2.0000,3.000000,4.000000
Base_Fare,1000.0,3.685663,2.127699,2.0100,2.730000,3.5300,4.290000,39.613370
Per_Km_Rate,1000.0,1.231410,0.429346,0.5000,0.860000,1.2200,1.610000,2.000000
Per_Minute_Rate,1000.0,0.294765,0.123743,0.1000,0.190000,0.2900,0.390000,1.732901
Trip_Duration_Minutes,1000.0,62.150649,31.946301,5.0100,36.010000,62.1200,88.480000,119.840000
Trip_Price,1000.0,56.630227,39.776855,6.1269,33.821632,50.0962,69.052125,332.043689

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Trip_Distance_km            1000 non-null   float64
 1   Passenger_Count             1000 non-null   float64
 2   Base_Fare                   1000 non-null   float64
 3   Per_Km_Rate                 1000 non-null   float64
 4   Per_Minute_Rate             1000 non-null   float64
 5   Trip_Duration_Minutes       1000 non-null   float64
 6   Trip_Price                  1000 non-null   float64
 7   Time_of_Day_Evening         1000 non-null   bool
 8   Time_of_Day_Morning         1000 non-null   bool
 9   Time_of_Day_Night           1000 non-null   bool
 10  Time_of_Day_Unknown         1000 non-null   bool
 11  Day_of_Week_Weekday         1000 non-null   bool
 12  Day_of_Week_Weekend         1000 non-null   bool
 13  Traffic_Conditions_Low      1000 non-null   bool
 14  Traffic_Conditions_Medium   1000 non-null   bool
 15  Traffic_Conditions_Unknown  1000 non-null   bool
 16  Weather_Rain                1000 non-null   bool
 17  Weather_Snow                1000 non-null   bool
 18  Weather_Unknown             1000 non-null   bool
dtypes: bool(12), float64(7)
memory usage: 66.5 KB

In [161]:
df_narrow = df.copy()

In [162]:
def remove_outlieers(df: pd.DataFrame, column_name: str, show_output: bool = True):

    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)

    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    if show_output:
        print(f"For {column_name}:")
        print(f"Q1: {Q1:.2f}")
        print(f"Q3: {Q3:.2f}")
        print(f"IQR: {IQR:.2f}")
        print(f"(Lower Bound): {lower_bound:.2f}")
        print(f"(Upper Bound): {upper_bound:.2f}")
    
    print(f"Number of rows before removal: {df.shape[0]}")

    df_narrow = df[(df[column_name] >= lower_bound) & (df[column_name] <= upper_bound)]

    print(f"Number of rows after outlieer removal: {df_narrow.shape[0]}")

    return df_narrow

In [163]:
df_narrow = remove_outlieers(df_narrow, "Trip_Distance_km")
print("\n")
df_narrow = remove_outlieers(df_narrow, "Trip_Price")

For Trip_Distance_km:
Q1: 12.66
Q3: 38.33
IQR: 25.67
(Lower Bound): -25.84
(Upper Bound): 76.83
Number of rows before removal: 1000
Number of rows after outlieer removal: 980


For Trip_Price:
Q1: 33.51
Q3: 67.23
IQR: 33.73
(Lower Bound): -17.08
(Upper Bound): 117.82
Number of rows before removal: 980
Number of rows after outlieer removal: 973

### Train new RF model on narrow less data with removed Outlieers

In [164]:
X,y = df_narrow.drop(columns=[
    "Trip_Price", "Base_Fare", "Per_Km_Rate","Per_Km_Rate","Trip_Duration_Minutes", "Traffic_Conditions_Low", "Traffic_Conditions_Medium", "Per_Minute_Rate", 
    ]), df_narrow["Trip_Price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

display(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(778, 12)

(195, 12)

(778,)

(195,)

In [165]:
narrow_rf_model = RandomForestRegressor(random_state=42)

narrow_rf_model.fit(X_train, y_train)

rf_y_pred = narrow_rf_model.predict(X_test)

mae_rf = mean_absolute_error(y_true=y_test, y_pred=rf_y_pred)
mse_rf = mean_squared_error(y_true=y_test, y_pred=rf_y_pred)
r2_rf = r2_score(y_true=y_test, y_pred=rf_y_pred)

print("Random forrest regression performance:")
print(f"Mean Absolute Error (MAE): {mae_rf:.2f}")
print(f"Mean Squared Error (MSE): {mse_rf:.2f}")
print(f"R-squared (R2): {r2_rf:.2f}")

NameError: name 'RandomForestRegressor' is not defined